{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="card">
  <div class="card__header">
    <h2 class="card__title">{{data.message}}</h2>
    <h3 class="card__subtitle">{{data.info}}</h3>
  </div>
  <a href="{{data.link}}" class="card__button">Повернутися назад</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}