@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;
@use '../../component/fieldText/style.scss' as fieldText;



.main{
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.form-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: s.space(5);
  padding: s.space(5);
  border: 1px solid s.color(border);
  border-radius: 10px;
}

.show__block{
    display: grid;
    gap: s.space(4);  
    grid-template-columns: 1fr 1fr; 
}

.field--disabled{
    position: absolute;
    display: none;
 }